* {
  margin: 0;
  padding: 0;
}

.filterBlock{
  width: 30%;
  height: 100vh;
  padding-top: 70px;
  .filterList{
    position: fixed;
    padding-top: 4vh;
    padding-left: 5vw;
    list-style: none;
    text-decoration: none;
    font-size: 3vh;
    margin: 0;
    .filterCat{
      ul{
        list-style: none;
        text-decoration: none;
        padding-left: 2vw;
        padding-right: 6vw;
        .bold{
          font-weight: bold;
        }
        p{
          margin:0;
          float: right;
        }
      }
    }
    .filterCat:hover {
      cursor: pointer;
    }
  }
}