@import "./../../../node_modules/react-slideshow-image/dist/styles.css";

.goodsPage{
  height: auto;
  width: 100%;
  .block_1{
    display: flex;
    .good{
      width: 50%;
      height: auto;
      padding-top: 70px;
      background-color: white;
      .interfaceBlock{
        position: relative;
      }
      .photoBlock{
        text-align: center;
        background-color: white;
      }
      .buyBlock{
        position: absolute;
        right:0;
        top:0;
        height: 7vh;
        width: 120px;
        a{
          text-align: center;
          width: 50%;
          height: 7vh;
          float: left;
          line-height: 7vh;
          transition: all 0.5s ease-out;
          &:hover{
            background-color: #898961;
            cursor: pointer;
            svg{
              color: beige;
            }
          }
          svg{
            font-size: 4vh;
            margin-top:2vh;
            color: #898961;
            transition: all 0.5s ease-out;

          }
        }
      }
      .arrowsBlock{
        width: 150px;
        height: 7vh;
        margin: auto;
        div{
          text-align: center;
          width: 50%;
          height: 7vh;
          float: left;
          line-height: 7vh;
          transition: all 0.5s ease-out;
          &:hover{
            background-color: #898961;
            cursor: pointer;
            svg{
              color: beige;
            }
          }
          svg{
            font-size: 5vh;
            margin-top:1vh;
            color: #898961;
            transition: all 0.5s ease-out;

          }
        }
      }
    }
    .goodInfoBlock{
      width: 50vw;
      height: 100vh;
      padding-top: 120px;
      padding-left: 4vw;
      .header{
        font-size: 10vh;
        margin:0;
        line-height: 5vh;
        color: white;
      }
      .price{
        margin-top: 3vh;
        font-size: 5vh;
        color: white;
      }
    }
    height: auto;
    width: 100%;
  }
}