*{
  margin: 0;
  padding: 0;
}
@import 'src/components/Header/Header.module';

.carousel{
  overflow: hidden !important;
  width: 50vw;
  padding-right: 10vw !important;
  //height: calc(100vh - 70px);
  display: flex !important;
  align-items: center !important;
  >div{
    overflow: hidden !important;
    width: 100%;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }
}

.infoHomeBlock{
  width: 50vw;
  background-color: beige;
  padding-left: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  h1{
    color: #403e3e;
    font-size: 40px;
    line-height: 32px;
  }
  p{
    padding-top: 1vh;
    font-size: 16px;
  }
  .buttonInfo{
    width: 37vh;
    height: 37vh;
    background-color: #403e3e;
    margin-top: 5vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
      cursor: pointer;
      img{
        //transform: translateY(37vw);
        transform: scale(1.5);
        opacity: 0;
      }
    }
    img{
      height: 37vh;
      transform: translateX(5%);
      transition: all 500ms linear;
    }
    .more{
      position: absolute;
      text-decoration: none;
      color: beige;
      font-size: 1.5vw;
      margin: auto;
    }
  }
}